<div id="header">
    <div class="container">
        <img src="drone_white.png" class="logo" title="Created by Nithin Davis Nanthikkara from the Noun Project">
        <h1 id="h1">Connect Drone</h1>
        <h2 id="h2">The future of parking in lots is here.</h2>
    </div>
</div>
<div id="contentarea">
    <div class="container">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2>Join the beta waitlist</h2>
                <p>We have the new age solution to finding parking. Our drones help you cut down the time spent looking for parking by 70% - yes that is an actual fact. Don't waste 106 days of your life each year looking for that parking spot, use Connected Drone.</p>

                <div class="spacer"></div> 

                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <form action="https://docs.google.com/a/stanford.edu/forms/d/1z0zHqtebnpWVgyQA5_53a5cElQhaBXJbkd0g3JJ8sRE/formResponse" method="POST" id="ss-form" target="_self" onsubmit="">
                            <ol role="list" class="ss-question-list" style="padding-left: 0">
                                <div class="ss-form-question errorbox-good" role="listitem">
                                    <div dir="ltr" class="ss-item  ss-text">
                                        <div class="ss-form-entry form-group">
                                            <input type="text" name="entry.707507171" value="" class="ss-q-short valid form-control" id="entry_707507171" dir="auto" aria-label="Email  " title="" placeholder="Email">
                                            <div class="error-message" id="262745835_errorMessage"></div>
                                        </div>
                                    </div>
                                </div>

                                <input type="hidden" name="draftResponse" value="[,,&quot;8787480332103933259&quot;]
                                ">
                                <input type="hidden" name="pageHistory" value="0">

                                <input type="hidden" name="fbzx" value="8787480332103933259">

                                <div class="ss-item ss-navigate form-group">
                                    <input type="submit" name="submit" value="I'm in!" id="ss-submit" style="background-color: #2e9bda;"class="btn btn-info btn-lg">
                                </div>
                            </ol>
                        </form>
                    </div>
                    <div class="col-md-3"></div>
                </div>

            </div>
            <div class="col-md-2"></div>
    </div>
</div>