<div id="header">
    <div id="intro">

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" 
                 data-target="#example-navbar-collapse">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#header">Connected Drone</a>
           </div>
            <div class="navbar-collapse collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav navbar-right header-link">
                    <li><%= link_to "Launch", "#launch", :class => "header-link" %></li>
                    <li><%= link_to "Team", "#team", :class => "header-link" %></li>
                    <li><%= link_to "How It Works", "#how-it-works", :class => "header-link" %></li>
                </ul>
            </div>
        </div>

    
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="drone_white.png" class="logo" title="Created by Nithin Davis Nanthikkara from the Noun Project">
                    <h1 id="h1">Connected Drone</h1>
                </div>
            </div>
            <div class="row center-text">
                <!-- <div class="col-md-6 col-md-offset-3"> -->
                    <br />
                    <h2 id="h2"><strong>A new perspective on parking.</strong></h2>
                    <br /><br /><br />
                    <br /><br /><br />
                    <br /><br /><br />
                    <br /><br /><br />
                <!-- </div> -->
            </div>
            <div class="row">
                <% if false %>
                <div class="col-md-12" style="text-align:center;">
                    <div class="secure-message">
                    We use bank-level security standards, 256-bit encryption, to keep sensitive user data safe</div>
                    <br><br>
                </div>
                <% end %>
                <div class="col-md-12" style="text-align:center;">
                    <i class="fa fa-caret-down fa-2x" style="color:rgba(255,255,255,0.2)"></i>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="land-panel">
    <div class="container">
        <iframe src="https://player.vimeo.com/video/130236006" width="750" height="421.5" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/130236006">ConnectedDrone Promo</a> from <a href="https://vimeo.com/user40566694">Shaurya Saluja</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    </div>
</div>


<div class="land-panel" id="launch">
    <div class="container">
        <div class="row">
            <h3>PRODUCT LAUNCH</h3>
            <h4>Join us for the launch of the future of parking</h4>
        </div>
        <br>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 text-center">
                <h4 class="bold">Friday, 5/8 &nbsp;&nbsp;&middot;&nbsp;&nbsp; 12pm - 3pm &nbsp;&nbsp;&middot;&nbsp;&nbsp; Wilbur parking lot</h4>
                <br>
                <h4><strong>Bring you Car to test the future of drone parking.<br>Free car wash/gift card & free Ike's sandwiches!</strong></h4>
                <br />
                <img src="map.png" style="max-width: 500px;" />
                <br />
                <h4><a href="http://www.bit.ly/1KceYrP">RSVP</a></h4>
            </div>
            <div class="col-md-1"></div>
        </div>
        <br><br>
        <div class="row">
            <h2>Event Sponsors</h2>
            <br><br>
            <div class="row">
                <div class="col-md-4">
                    <img src="ikes.jpg" style="max-width: 200px;" />
                </div>
                <div class="col-md-4">
                    <img src="bmw.png" style="max-height: 115px;" />
                </div>
                <div class="col-md-4">
                    <img src="pats.png" style="max-width: 270px;" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="land-panel dark-bg" id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3>WE LIVE AND BREATHE TECHNOLOGY</h3>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-12">
                <h2><strong>Team</strong></h2>
            </div>
        </div>
        <div class="row box-pad">
            <div class="col-md-4">
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img src="shaurya1.jpg" class="image" />
                            <h4>Shaurya</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img src="mike.jpg" class="image" />
                            <h4>Michael</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img src="ellen.png" class="image" />
                            <h4>Ellen</h4>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row box-pad">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img src="kevin.jpg" class="image" />
                            <h4>Kevin</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img src="ale1.jpg" class="image" />
                            <h4>Alejandro</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

<div class="land-panel" id="how-it-works">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h3>HOW IT WORKS</h3>
                <br>
                <h4>We have revolutionized parking to help you regain those 106 days/year to do more meaningful things.</h4>
            </div>  
        </div>
        <br>
        <div class="row box-pad">
            <div class="col-md-3">
                <div class="text-center pad-bottom">
                    <i class="fa fa-car fa-5x"></i>
                    <i class="fa fa-caret-right fa-3x"></i>
                </div>
                Get close to a parking lot
            </div>
            <div class="col-md-3">
                <div class="text-center pad-bottom">
                    <i class="fa fa-plane fa-5x"></i>
                    <i class="fa fa-caret-right fa-3x"></i>
                </div>
                Activate drone to take off and provide a live video feed
            </div>
            <div class="col-md-3">
                <div class="text-center pad-bottom">
                    <i class="fa fa-th fa-5x"></i>
                    <i class="fa fa-caret-right fa-3x"></i>
                </div>
                Simply, use the birds-eye view to find a spot in a crowded lot
            </div>
            <div class="col-md-3">
                <div class="text-center pad-bottom">
                    <i class="fa fa-thumbs-up fa-5x"></i>
                </div>
                Drone returns after doing a good job
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
      particleground(document.getElementById('header'), {
        dotColor: '#74C1ED',
        lineColor: '#74C1ED',
        minSpeedX: 0.1,
        minSpeedY: 0.1,
        maxSpeedX: 0.5,
        maxSpeedY: 0.5,
        density: 13000,
        particleRadius: 7,
        curvedLines: false,
        proximity: 100,
        parallaxMultiplier: 7
      });
      var intro = document.getElementById('intro');
      intro.style.marginTop = - intro.offsetHeight / 2 + 'px';
    }, false);

    $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
</script>
