// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.logo {
	max-width: 100px;
}

#header {
	background-color: #2e9bda;
	color: #fff;
	padding: 50px 0;
	text-align: center;
}

h1 {
	font-size: 68px;
	font-weight: 100;
	margin: 30px 0;
}

h2 {
	font-size: 17px;
	font-weight: 300;
	margin: 0;
}

body {
	background-color: #fff;
	color: #6F6F6F;
	font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.4;
	padding-bottom: 10px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#contentarea {
	padding: 50px 20px;
	text-align: center;
}

.spacer {
	margin-bottom: 30px;
}