<div class="blue-footer" id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-left">
            	<span style="font-size:19px;">ConnectedDrone</span>
            </div>
            <div class="col-md-4">
                <!--     <%= link_to "http://www.twitter.com/clutchdata" do %>
                        <i class="fa fa-twitter"></i>
                    <% end %>   -->
            </div>
            <div class="col-md-4 text-right">
                <i class="fa fa-copyright"></i>  2015  Connected Drone
            	<!-- &nbsp;&nbsp;&middot;&nbsp;&nbsp; -->
            </div>
        </div>
    </div>
</div>